// Base

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

body {
  padding: 0;  
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  height: 100%; /* Ensure body takes full height */
}
// headings ------------
h1,h2{
  margin: 0 0 .5em;
  color: var(--heading-color);
}

h3{
  margin: 0 0 .5em;
  color: var( --base-txt-color);
}

// links ---------------
a {
  color: var(--link-color);
}


//banner ----------------

.banner {
  padding: 300px;
  position: relative; 
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;

  &.home {
    background: var(--background-home);
  }
  &.resources {
    background: var(--background-resources);
  }
  &.about {
    background: var(--background-about);
  }
  &.mindfulness {
    background: var(--background-mindfulness);
  }
  &.mental-health {
    background: var(--background-mental-health);
  }

  img {
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    bottom: 0px; 
  }

  .banner-content {
    position: relative; /* Ensures it stays on top of the image */
    z-index: 2; /* Ensure content overlays the image */
  }

  h1 {
    font-size: 3rem;
    margin: 0 0 10px;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    height: auto; /* Adjust height for smaller screens */
    padding: auto;

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.2rem;
    }
  }
}

// app splash screen -------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}


// helper classes ---------
.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

// generic-entry ------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

// root ---------------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  overflow: hidden;
}

// pages ---------------------

// Home page ----------------------------------------------------------------------------------

.blurb-container {
  position: relative;
  display: center;
  img {
    width: 100%;
    height: auto;
  }
}


// All pages 
// fallback background colour = Peach from https://coolors.co/ ---------

.page-content {
  position: absolute;
  //top: var(--app-header-height);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  background-image: cover;
  &.no-pad {
    padding: 0;
  }
}

.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

//menu drop down styling

sl-details::part(base) {
  display: block;
  border: none;
  padding: 0.65em;
}

sl-details::part(content) {
  border: none;
  padding: 0;
}

sl-details::part(header) {
  border: none;
  padding: 0;
}

sl-details::part(summary) {
  color: var(--sl-color-neutral-600);
  font-size: 1.3em;
  color: var(--app-header-txt-color);
}

sl-details::part(base) {
  border: none;
}



// sign in + sign up pages --------------------------------------------------------------------

.signinup-box,
.signup-box {  
  max-width: 320px;
  text-align: center;
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}


// sign in & sign up page images -------
.signup-container {
  position: relative;
  display: center;
  img {
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
  }
}

.signin-container {
  position: relative;
  display: center;
  img {
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
  }
}

.signon-container {
  position: relative;
  display: center;
  img {
    width: 100%;
    height: auto;
  }
}

.signon2-container {
  position: relative;
  display: 60%;
  img {
    width: 100%;
    height: auto;
  }
}



.signinup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  width: 100%;
  height: 100%;
}

.signinup-box h1 {
  color: #fff;
}


// guide page --------------------------------------------------------------------------------

.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;
  img {
    width: 100%;
    height: auto;
  }
}




// text only 
.blurb-text {
  position: absolute;
  top: 15%;
  left: 20%;
  text-align: center;
  transform: translate(-50%, -50%);
  padding: 5px;
}

// edit profile page --------------------------------------------------------------------------

.edit-profile-container {
  margin: 3em;
}


// Products page ------------------------------------------------------------------------------

.products-container {
  margin-top: 1em;
  margin-left: 3em;
}

.products-top {
  display: flex;
  column-count: 2;
  justify-content: space-around;
}

.product-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

// products cart icon button ----------------
.cart-icon .sl-icon-button::part(base) {
  color: #fff;
}

.cart-icon .sl-icon-button::part(base):hover,
.cart-icon .sl-icon-button::part(base):focus {
  color: #fff;
}

.cart-icon .sl-icon-button::part(base):active {
  color: #F0C4A1;
}

.takeaway-cups-img {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-width: 30%;
  justify-content: space-around;
  .product-card {
    width: calc(25% - 4em);
    margin: 0.5em;
  }
}

.product-card::part(body) {
  background: #F0C4A1;
  --border-radius: var(card--border-radius);
}

// products dialog ------------------------
// from Shoelace https://shoelace.style/

.product-dialog {
  --width: 70%;
}

.product-dialog::part(body) {
  margin: -4em;
}

// products and orders checkout red button ----------
.red-btn::part(base) {
  color: var(--sl-color-brand);
  background: red;
}

.red-btn::part(base):hover {
  color: var(--sl-color-brand);
  background: rgba(186, 78, 78, 0.1);
}

.red-btn::part(base):active {
  background: rgba(213, 82, 59, 0.2);
}


// orders page --------------------------------------------------------------------------------

.order-list {
  display: flex;
  flex-direction: column 3;
  justify-content: left;
  gap: 3em;
}

.orders-container {
  display: wrap;
  align-content: left;
  margin: 3em;
}

.prev-orders-btn-set {
  display: flex;
  justify-items: flex-start;
  gap: 30px;
}

.order-btn {
  position: absolute;
  top: 40%;
  left: 45%;
}


// favourites page ---------------------------------------------------------------------------

.fav-container {
  margin: 3em;
}


.fav-list {
  display: flex;
  flex-direction: column 3;
  justify-content: left;
  gap: 3em;
}


// new products page -------------------------------------------------------------------------

.new-product-page-container {
  margin: 3em;
}

// location page ------------------------------------------------------------------------------

.location-info {
  display: flex;
  position: relative;
  text-align: left;
  column-count: 3;
  flex-wrap: wrap;
  column-gap: 70px;
  margin-left: 3em;
  padding-inline: 5px;
}

.location-map {
  float: right;
  width: calc(10%);
  margin-left: 0px;
}

.current-location,
.next-location {
  display: left;
}

.event-banner {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 560px;
  right: 30px;
  float: center;
}


// about page ----------------------------------------------------------------------------

.owner.bio {
  position: relative;
  text-align: center;
  img {
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
  }
}

.owner-bio-text {
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: #F0C4A1;
  background: rgba(249, 250, 253, 0.8); /* background opacity */
  border-radius: 25px;
  padding: 20px;
}



// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 768px){ 

  .signinup-box {
    width: 90%;
    max-width: none;
  }
}

// 
// Responsive layouts ------------------------------------------------- 
// makes a one column layout instead of a two-column layout
@media (max-width: 768px) {
  .orders-grid 
  .order-card {
    flex-direction: column;
  }
}

// - makes a one column layout instead of a two-column layout
@media (max-width: 768px) {
  .products-grid {
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
}

// - makes a one column layout instead of a two-column layout
@media (max-width: 768px) {
  .favourites-grid {
    flex-direction: column;
    align-items: column;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 
  body { 
    padding: 10px; 
  } 
  h1 { 
    font-size: 24px; 
  } 
  p { 
    font-size: 14px; color: #333; 
  } 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
  h1 { 
    font-size: 28px; 
  } p { 
    font-size: 15px; 
  } 
} 

// Large devices (desktops, 992px and up) 
@media (min-width: 992px) {
  h1 { 
    font-size: 32px; 
  } 
  p { font-size: 16px; 
  } 
}

// responsive images -------------------------------------------------

// Adapted from CoPilot accessed 18 November 2024
// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  .responsive-image {
      width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-image {
      width: 75%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .responsive-image {
      width: 50%;
  }
}
