@use 'vars' as *;

//header in diffrent pages colors change
$header-colors: (
  about-page: #83c670,
  resources-page: #b878d1,
  mental-health-page: #6a89e7,
  mindfulness-page: #39acf4,
  resources-exp: #b878d1,
  mental-health-exp: #6a89e7,
  mindfulness-exp: #39acf4
);

@each $page, $color in $header-colors {
  .#{$page} {
    --app-header-bg-color: #{$color};
    background-color: var(--app-header-bg-color);
  }
}

//scss mental-health-expanded-page
.expanded-page {
.banner.expanded {
padding-top: 3rem;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;


h1{
    margin-top: 3rem;
    font-size:2rem;
}


.banner-content {
    padding-top: 0; 
}
}

sl-tab-group::part(base) {
    display: flex;
    align-items: center;
    gap: 32px;
}

sl-tab-group::part(nav) {
    border-bottom: none;
}

sl-tab-group::part(active-tab-indicator) {
    display: none !important;
    opacity: 0;
    visibility: hidden;
}

sl-tab-group::part(tabs) {
    border-bottom: none;
}

sl-tab::part(base) {
    color:#FFFFFF;
    border-bottom: none;
    margin: 0 12px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease;
}

sl-tab:not([active])::part(base):hover {
    font-size: 20px;
}

sl-tab[active]::part(base) {
    font-size: 20px;
    color: #F3C728 !important;
}



#bento-tabs {
width: 100%;
display: flex;
justify-content: center;
align-items: left;
}

.why {
grid-area: why;
width: 193px;
height: 193px;
border-radius: 35px;
background-color: #FFFFFF;
position: relative;
display: flex;
overflow: hidden;
cursor: pointer;
}

.deal {
grid-area: deal;
width: 361px;
height: 193px;
border-radius: 35px;
background-color: #FFFFFF;
position: relative;
display: flex;
overflow: hidden;
cursor: pointer;
}

.signs {
grid-area: signs;
width: 193px;
height: 411px;
border-radius: 35px;
background-color: #FFFFFF;
position: relative;
display: flex;
overflow: hidden;
cursor: pointer;
}

.triggers {
grid-area: triggers;
width: 361px;
height: 193px;
border-radius: 35px;
background-color: #FFFFFF;
position: relative;
display: flex;
overflow: hidden;
cursor: pointer;
}

.practices {
grid-area: practices;
width: 193px;
height: 411px;
border-radius: 35px;
background-color: #FFFFFF;
margin-left: 168px;
position: relative;
display: flex;
overflow: hidden;
cursor: pointer;
}

.seek {
grid-area: seek;
width: 361px;
height: 193px;
border-radius: 35px;
background-color: #FFFFFF;
position: relative;
display: flex;
overflow: hidden;
cursor: pointer;
}

.questions {
grid-area: questions;
width: 193px;
height: 193px;
border-radius: 35px;
background-color: #FFFFFF;
margin-left: 385px;
position: relative;
display: flex;
overflow: hidden;
cursor: pointer;
}

.stress {
display: grid;
grid-template-areas: 
"why deal signs"
"triggers practices practices"
"seek questions questions";
grid-template-columns: 193px 361px 193px; /* Explicit column widths */
grid-template-rows: 193px 193px 193px; /* Fixed row heights */
gap: 24px; /* Minimal gap */
align-items: start; /* Align items to top */
margin-top: 8px;
}

.meditation {
    display: grid;
    grid-template-areas: 
    "what-med     why-med"               
    "benefit-med  physical-med"; 
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 193px 1fr ;
    gap: 24px;
    align-items: start;
    margin: 0 auto; 
}

.what-med {
    grid-area: what-med;
    width: 410px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.why-med {
    grid-area: why-med;
    width: 410px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.benefit-med {
    grid-area: benefit-med;
    width: 193px;
    height: 410px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.physical-med {
    grid-area: benefit-med;
    width: 193px;
    height: 410px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    margin-left: 217px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.guided-med {
    grid-area: physical-med;
    width: 410px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.questions-med {
    grid-area: physical-med;
    width: 193px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    margin-top: 217px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.tips-med {
    grid-area: physical-med;
    width: 193px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    margin-top: 217px;
    margin-left: 217px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.support {
    display: grid;
    grid-template-areas:
    "top1 top2 top3"
    "bottom1 bottom2  bottom3";
    grid-template-columns: 193px 1fr 193px;
    grid-template-rows: 386px 1fr 1fr;
    gap: 24px;
    align-items: start;
    margin: 0 auto; 
}

.ask {
    grid-area: top1;
    width: 193px;
    height: 386px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.talk {
    grid-area: top2;
    width: 410px;
    height: 386px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.how_support {
    grid-area: top3;
    width: 193px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}   

.tips_support {
    grid-area: bottom1;
    width: 193px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.what_support {
    grid-area: bottom2;
    width: 193px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.what-sup-img {
    width: 50%;
    height: 50%;
}

.help_support {
    grid-area: bottom2;
    width: 193px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    margin-left: 217px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.mindset {
    grid-area: top3;
    width: 193px;
    height: 386px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    margin-top: 217px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}


p {
color: #000000;
}

.bookmark, .bookmark-full {
position: absolute;
width: auto;
height: 30px;
top: -0.5px;
right: 35px;
filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


sl-dialog::part(base) {
color: #000000;
}

sl-dialog::part(overlay) {
backdrop-filter: blur(8px);
background-color: rgba(0, 0, 0, 0.5);
}


sl-dialog::part(panel) {
    border-radius: 35px;
    z-index: 1000;
    max-height: 80vh;
    overflow-y: auto;
}

sl-dialog::part(close-button) {
display: none;
}

.why-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 60%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.stress-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 60%;
    left: 80%;
}

.signs-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 60%;
    left: 50%;
}

.triggers-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 50%;
    left: 25%;
}

.practices-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;
    left: 50%;
}

.seek-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 60%;
    left: 70%;
    width: 55%;
    height: auto;
}

.questions-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 50%;
    left: 63%;
    width: 75%;
    height: auto;
}

.why-anxiety-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 70%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.deal-anxiety-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 80%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    width: 40%;
    height: auto;
}

.signs-anxiety-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.triggers-anxiety-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    width: 105%;
    height: auto;
}

.practices-anxiety-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 70%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    width: 180%;
    height: auto;
}

.seek-anxiety-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 70%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    width: 95%;
    height: auto;
}

.questions-anxiety-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 50%;
    left: 63%;
    width: 75%;
    height: auto;
}

.why-depression-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 45%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.stress-depression-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 80%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    width: 30%;
    height: auto;
}

.signs-depression-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 85%;
    left: 50%;
    border-radius: 0 0 35px 35px;
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
}

.triggers-depression-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 25%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    width: 50%;
    height: auto;
}

.practices-depression-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 45%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    height: 80%;
    width: auto;
}

.seek-depression-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 80%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    width: 40%;
    height: auto;
}

.questions-depression-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 70%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 50%;
    left: 63%;
    width: 75%;
    height: auto;
}



.what-med-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 62%;
    left: 20%;
    border-radius: 35px;
    transition: transform 0.3s ease;
  }

.why-med-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 62%;
    left: 50%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.benefit-med-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 62%;
    left: 50%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.physical-med-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 62%;
    left: 50%;
    border-radius: 35px;
    transition: transform 0.3s ease;
  }

  .guided-med-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 62%;
    left: 80%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.questions-med-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 64%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.tips-med-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 62%;
    left: 50%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.what-breath-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;  /* adjust as needed */
    left: 70%; /* adjust as needed */
  }
  
  .why-breath-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 80%;
    left: 65%;
    width: 40%;
    height: auto;
  }
  
  .benefit-breath-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 70%;
    left: 50%;
    width: 170%;
    height: auto;
  }
  
  .physical-breath-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;
    left: 50%;
  }
  
  .guided-breath-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;
    left: 30%;
    width: 50%;
    height: auto;
  }
  
  .questions-breath-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 50%;
    left: 64%;
  }
  
  .tips-breath-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 62%;
    left: 50%;
  }
  
  /* Depression Tab Image Styles */
  .what-motivation-med {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;  /* adjust as needed */
    left: 30%; /* adjust as needed */
  }
  
  .why-motivation-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 90%;
    left: 60%;
    height: 170%;
    width: auto;
  }
  
  .benefit-motivation-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 72%;
    left: 50%;
  }
  
  .physical-motivation-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 70%;
    left: 60%;
    width: 120%;
    height: auto;
  }
  
  .guided-motivation-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;
    left: 20%;
    width: 50%;
    height: auto;
  }
  
  .questions-motivation-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 50%;
    left: 64%;
  }
  
  .tips-motivation-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 62%;
    left: 50%;
  }





  .ask-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;    
    left: 50%;   
  }
  
  .talk-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;    
    left: 50%;   
  }
  
  .how_support-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;    
    left: 50%;   
  }
  
  .tips_support-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;    
    left: 50%;   
  }
  
  .what_support-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;    
    left: 50%;   
  }
  
  .help_support-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;    
    left: 50%;   
  }
  
  .mindset-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;    
    left: 50%;   
  }

.ask-services-img {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 35px;
  transition: transform 0.3s ease;
  top: 65%;    
  left: 50%;   
}

.talk-services-img {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 35px;
  transition: transform 0.3s ease;
  top: 65%;    
  left: 50%;   
}

.how_services-img {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 35px;
  transition: transform 0.3s ease;
  top: 65%;    
  left: 50%;   
}

.tips_services-img {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 35px;
  transition: transform 0.3s ease;
  top: 65%;    
  left: 50%;   
}

.what_services-img {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 35px;
  transition: transform 0.3s ease;
  top: 65%;    
  left: 50%;   
}

.help_services-img {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 35px;
  transition: transform 0.3s ease;
  top: 65%;    
  left: 50%;   
}

.mindset-services-img {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border-radius: 35px;
  transition: transform 0.3s ease;
  top: 65%;    
  left: 50%;   
}

.ask-guides-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;    
    left: 50%;   
  }
  
  .talk-guides-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;    
    left: 50%;   
  }
  
  .how_guides-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;    
    left: 50%;   
  }
  
  .tips_guides-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;    
    left: 50%;   
  }
  
  .what_guides-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;    
    left: 50%;   
  }
  
  .help_guides-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;    
    left: 50%;   
  }
  
  .mindset-guides- {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;    
    left: 50%;   
  }


















.why:hover .why-img,
.deal:hover .stress-img,
.signs:hover .signs-img,
.triggers:hover .triggers-img,
.practices:hover .practices-img,
.seek:hover .seek-img,
.questions:hover .questions-img,
.why:hover .why-anxiety-img,
.deal:hover .deal-anxiety-img,
.signs:hover .signs-anxiety-img,
.triggers:hover .triggers-anxiety-img,
.practices:hover .practices-anxiety-img,
.seek:hover .seek-anxiety-img,
.questions:hover .questions-anxiety-img,
.why:hover .why-depression-img,
.deal:hover .stress-depression-img,
.triggers:hover .triggers-depression-img,
.practices:hover .practices-depression-img,
.seek:hover .seek-depression-img,
.questions:hover .questions-depression-img,
.what-med:hover .what-med-img,
.why-med:hover .why-med-img,
.benefit-med:hover .benefit-med-img,
.physical-med:hover .physical-med-img,
.guided-med:hover .guided-med-img,
.questions-med:hover .questions-med-img,
.tips-med:hover .tips-med-img,
.what-med:hover .what-breath-img,
.why-med:hover .why-breath-img,
.benefit-med:hover .benefit-breath-img,
.physical-med:hover .physical-breath-img,
.guided-med:hover .guided-breath-img,
.questions-med:hover .questions-breath-img,
.tips-med:hover .tips-breath-img,
.what-med:hover .what-motivation-med,
.why-med:hover .why-motivation-img,
.benefit-med:hover .benefit-motivation-img,
.physical-med:hover .physical-motivation-img,
.guided-med:hover .guided-motivation-img,
.questions-med:hover .questions-motivation-img,
.tips-med:hover .tips-motivation-img {
  transform: translate(-50%, -50%) scale(1.1);
}





.signs:hover .signs-depression-img {
    transform: translate(-50%, -65%) scale(1.3);
  }








.video-embed iframe {
    width: 251px;
    height: 142px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.video-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-top: 2rem;
}

sl-dialog::part(body){
    flex: 1 1 auto;
    padding-top: 0;
    margin: 0 1.5rem;
    overflow: auto;
    }
    sl-dialog::part(title){
        font-weight: 500;
        font-size: 1.6em;
        margin: 1.5rem 1.5rem 0.7rem;
      }
    
}  


@media screen and (max-width: 767px) {
    .expanded {
      h1 {
        font-size: 2.7rem!important;
      }
    }
  
   
  
    sl-tab {
      &::part(base) {
        border-bottom: none;
        margin: 0 6px;
        padding: 6px 6px;
        font-size: 16px!important;
        font-weight: 500;
        transition: all 0.2s ease;
        color: #FFFFFF; // Adjust tab style for smaller screens
      }
  
      &:not([active]) {
        &::part(base):hover {
          font-size: 18px;
          color: #FFFFFF; // Hover effect for non-active tabs
        }
      }
  
      &[active] {
        &::part(base) {
          font-size: 18px;
          color: #F3C728  // Active tab color
        }
      }
    }


    .stress {
        display: grid;
        grid-template-areas: 
        "why deal signs"
        "triggers practices practices"
        "seek questions questions";
        grid-template-columns: 193px 193px 193px !important; /* Explicit column widths */
        grid-template-rows: 193px 193px 193px; /* Fixed row heights */
        gap: 24px; /* Minimal gap */
        align-items: start; /* Align items to top */
        margin-top: 8px;
        }

    .meditation {
        display: grid;
        grid-template-areas: 
        "what-med     why-med"
        "benefit-med  "
        "physical-med guided-med "
        ".             tips-med" !important;
        grid-template-columns: 410px 193px !important;
        grid-template-rows: auto auto auto auto !important;
        gap: 24px;
        align-items: start;
        margin: 0 auto; 
    }

    .support {
        display: grid;
        grid-template-areas:
        "top1 top2 top3"
        "bottom1 bottom2  bottom3";
        grid-template-columns: 193px 193px 193px !important; /* Explicit column widths */
        grid-template-rows: 193px 193px 193px !important; /* Fixed row heights */
        gap: 24px;
        align-items: start;
        margin: 0 auto; 
    }

    .why, 
    .deal, 
    .signs, 
    .seek, 
    .questions {
        width: 193px !important;
        height:193px !important;
        margin: 0 auto !important;
        justify-self: center !important;
    }

    .triggers, .questions {
        width: 410px !important;
    }

    .practices {
        width: 193px !important;
        height:193px !important;
        margin-left: 217px !important;
    }

    .what-med{
        width: 410px !important;
        height: 193px !important;
        margin: 0 auto !important;
        justify-self: center !important;
    }

    
    .physical-med,
    .guided-med,
    .questions-med {
        width: 193px !important;
        height: 193px !important;
    }

    .why-med {
        width: 193px !important;
        height: 193px !important;
        
    }

    .benefit-med {
        width: 193px !important;
        
    }

    .questions-med {
        grid-area: benefit-med !important;
        margin-left: 217px !important;
    }
    
    .tips-med {
        width: 193px !important;
        height: 193px !important;
        margin-left: 0 !important;
    }

    .talk, .ask {
        width: 193px !important;
        height: 410px !important;
    }
    
    .mindset {
        height: 193px !important;
    }

    .tips_support, .what_support, .help_support {
        margin-top: 217px !important;
    }
}



@media screen and (max-width: 402px) {
    .stress, .meditation, .support {
        display: flex !important;
        flex-direction: column !important;
        gap: 1rem !important;
        overflow: hidden !important;
        margin: 0 auto !important;
      }
  
    .why, 
    .deal, 
    .signs, 
    .triggers, 
    .practices, 
    .seek, 
    .questions {
        width: 361px !important;
        height: 96.5px !important;
        margin: 0 auto !important;
        justify-self: center !important;
    }

    .what-med,
    .why-med,
    .benefit-med,
    .physical-med,
    .guided-med,
    .questions-med,
    .tips-med {
        width: 361px !important;
        height: 96.5px !important;
        margin: 0 auto !important;
        justify-self: center !important;
    }

    .ask,
    .talk,
    .how_support,
    .tips_support,
    .what_support,
    .help_support,
    .mindset {
        width: 361px !important;
        height: 96.5px !important;
        margin: 0 auto !important;
        justify-self: center !important;
    }
  
    #bento-tabs,
    .banner-content {
      max-width: 400px !important;
      margin: 0  !important;
      padding: 0  !important;
      overflow-x: hidden !important;
    }

    sl-tab::part(base) {
        margin: 0 !important;
        padding: 0px 24px !important;
    }

    sl-dialog::part(overlay) {
        backdrop-filter: blur(8px);
        background-color: rgba(0, 0, 0, 0.5);
        max-height: 100% !important;
    }
        
        
    sl-dialog::part(panel) {
        max-width: 90vw  !important;
        overflow-y: auto;
    }

    


}
  
    

