//scss mental-health-expanded-page
@use 'vars' as *;

.expanded-page {
.banner.expanded {
padding-top: 3rem;
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;


h1{
    margin-top: 3rem;
    font-size:2rem;
}


.banner-content {
    padding-top: 0; 
}
}

sl-tab-group::part(base) {
    display: flex;
    align-items: center;
    gap: 32px;
}

sl-tab-group::part(nav) {
    border-bottom: none;
}

sl-tab-group::part(active-tab-indicator) {
    display: none !important;
    opacity: 0;
    visibility: hidden;
}

sl-tab-group::part(tabs) {
    border-bottom: none;
}

sl-tab::part(base) {
    border-bottom: none;
    margin: 0 12px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease;
}

sl-tab:not([active])::part(base):hover {
    font-size: 20px;
}

sl-tab[active]::part(base) {
    font-size: 20px;
    color: #F3C728 !important;
}

#bento-tabs {
width: 100%;
display: flex;
justify-content: center;
align-items: left;
}

.why {
grid-area: why;
width: 193px;
height: 193px;
border-radius: 35px;
background-color: #FFFFFF;
position: relative;
display: flex;
overflow: hidden;
cursor: pointer;
}

.deal {
grid-area: deal;
width: 361px;
height: 193px;
border-radius: 35px;
background-color: #FFFFFF;
position: relative;
display: flex;
overflow: hidden;
cursor: pointer;
}

.signs {
grid-area: signs;
width: 193px;
height: 411px;
border-radius: 35px;
background-color: #FFFFFF;
position: relative;
display: flex;
overflow: hidden;
cursor: pointer;
}

.triggers {
grid-area: triggers;
width: 361px;
height: 193px;
border-radius: 35px;
background-color: #FFFFFF;
position: relative;
display: flex;
overflow: hidden;
cursor: pointer;
}

.practices {
grid-area: practices;
width: 193px;
height: 411px;
border-radius: 35px;
background-color: #FFFFFF;
margin-left: 168px;
position: relative;
display: flex;
overflow: hidden;
cursor: pointer;
}

.seek {
grid-area: seek;
width: 361px;
height: 193px;
border-radius: 35px;
background-color: #FFFFFF;
position: relative;
display: flex;
overflow: hidden;
cursor: pointer;
}

.questions {
grid-area: questions;
width: 193px;
height: 193px;
border-radius: 35px;
background-color: #FFFFFF;
margin-left: 385px;
position: relative;
display: flex;
overflow: hidden;
cursor: pointer;
}

.stress {
display: grid;
grid-template-areas: 
"why deal signs"
"triggers practices practices"
"seek questions questions";
grid-template-columns: 193px 361px 193px; /* Explicit column widths */
grid-template-rows: 193px 193px 193px; /* Fixed row heights */
gap: 24px; /* Minimal gap */
align-items: start; /* Align items to top */
margin-top: 8px;
}

.meditation {
    display: grid;
    grid-template-areas: 
    "what-med     why-med"               
    "benefit-med  physical-med"; 
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 193px 1fr ;
    gap: 24px;
    align-items: start;
    margin: 0 auto; 
}

.what-med {
    grid-area: what-med;
    width: 410px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.why-med {
    grid-area: why-med;
    width: 410px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.benefit-med {
    grid-area: benefit-med;
    width: 193px;
    height: 410px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    img {
        height: 60%;
        width: 100%;
        bottom: 0;
        padding-top: 11rem;
    }
}

.physical-med {
    grid-area: benefit-med;
    width: 193px;
    height: 410px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    margin-left: 217px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.guided-med {
    grid-area: physical-med;
    width: 410px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.questions-med {
    grid-area: physical-med;
    width: 193px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    margin-top: 217px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.tips-med {
    grid-area: physical-med;
    width: 193px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    margin-top: 217px;
    margin-left: 217px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.support {
    display: grid;
    grid-template-areas:
    "top1 top2 top3"
    "bottom1 bottom2  bottom3";
    grid-template-columns: 193px 1fr 193px;
    grid-template-rows: 386px 1fr 1fr;
    gap: 24px;
    align-items: start;
    margin: 0 auto; 
}

.ask {
    grid-area: top1;
    width: 193px;
    height: 386px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.talk {
    grid-area: top2;
    width: 410px;
    height: 386px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.how_support {
    grid-area: top3;
    width: 193px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}   

.tips_support {
    grid-area: bottom1;
    width: 193px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.what_support {
    grid-area: bottom2;
    width: 193px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.what-sup-img {
    width: 50%;
    height: 50%;
}

.help_support {
    grid-area: bottom2;
    width: 193px;
    height: 193px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    margin-left: 217px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.mindset {
    grid-area: top3;
    width: 193px;
    height: 386px;
    border-radius: 35px;
    background-color: #FFFFFF;
    position: relative;
    margin-top: 217px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}


p {
color: #000000;
}

.bookmark, .bookmark-full {
position: absolute;
width: auto;
height: 30px;
top: -0.5px;
right: 35px;
filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}


sl-dialog::part(base) {
color: #000000;
}

sl-dialog::part(overlay) {
backdrop-filter: blur(8px);
background-color: rgba(0, 0, 0, 0.5);
}


sl-dialog::part(panel) {
    border-radius: 35px;
    z-index: 1000;
    max-height: 80vh;
    overflow-y: auto;
}

sl-dialog::part(close-button) {
display: none;
}

.why-img,     .what-med-img, .why-med-img, .benefit-med-img, .physical-med-img, .guided-med-img, .questions-med-img, .tips-med-img, .ask-img, .talk-img, .how_support-img, .tips_support-img, .what_support-img, .help_support-img, .mindset-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 60%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.stress-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 60%;
    left: 80%;
}

.signs-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 60%;
    left: 50%;
}

.triggers-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 50%;
    left: 25%;
}

.practices-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 65%;
    left: 50%;
}

.seek-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 60%;
    left: 70%;
    width: 55%;
    height: auto;
}

.questions-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 35px;
    transition: transform 0.3s ease;
    top: 50%;
    left: 50%;
    width: 55%;
    height: auto;
}

.why-anxiety-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 70%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.deal-anxiety-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 80%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    width: 40%;
    height: auto;
}

.signs-anxiety-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.triggers-anxiety-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    width: 105%;
    height: auto;
}

.practices-anxiety-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 70%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    width: 180%;
    height: auto;
}

.seek-anxiety-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 70%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    width: 95%;
    height: auto;
}

.questions-anxiety-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 70%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.why-depression-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.stress-depression-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 80%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    width: 30%;
    height: auto;
}

.signs-depression-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 85%;
    left: 50%;
    border-radius: 0 0 35px 35px;
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
}

.triggers-depression-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 25%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    width: 50%;
    height: auto;
}

.practices-depression-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}

.seek-depression-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 80%;
    border-radius: 35px;
    transition: transform 0.3s ease;
    width: 40%;
    height: auto;
}

.questions-depression-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 70%;
    border-radius: 35px;
    transition: transform 0.3s ease;
}



















.why:hover .why-img {
transform: translate(-50%, -50%) scale(1.1);
}

.deal:hover .stress-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.signs:hover .signs-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.triggers:hover .triggers-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.practices:hover .practices-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.seek:hover .seek-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.questions:hover .questions-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.why:hover .why-anxiety-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.deal:hover .deal-anxiety-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.signs:hover .signs-anxiety-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.triggers:hover .triggers-anxiety-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.practices:hover .practices-anxiety-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.seek:hover .seek-anxiety-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.questions:hover .questions-anxiety-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.why:hover .why-depression-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.deal:hover .stress-depression-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.signs:hover .signs-depression-img {
    transform: translate(-50%, -65%) scale(1.3);
}

.triggers:hover .triggers-depression-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.practices:hover .practices-depression-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.seek:hover .seek-depression-img {
    transform: translate(-50%, -50%) scale(1.1);
}

.questions:hover .questions-depression-img {
    transform: translate(-50%, -50%) scale(1.1);
}









.why p {
width: 30%;
font-size: 20px;
font-weight: 300;
margin-left: 10%;
z-index: 1;
}

.video-embed iframe {
    width: 251px;
    height: 142px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.video-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-top: 2rem;
}

}

sl-dialog::part(body){
    flex: 1 1 auto;
    padding-top: 0;
    margin: 0 1.5rem;
    overflow: auto;
    }
    sl-dialog::part(title){
        font-weight: 500;
        font-size: 1.6em;
        margin: 1.5rem 1.5rem 0.7rem;
      }