@use 'vars' as *;

// Home page ----------------------------------------------------------------------------------
.home-page {
  background:var(--background-home);

    h3{
      color: #ffffff;
    }
    .button-group {
      display: flex;
      justify-content: center;
      gap: 1rem; 
      margin: 2rem 0;
    }
    
    sl-button::part(base) {
      color: var(--base-txt-color);
      background-color: #ffffff; 
      border-radius: 12px; 
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
      padding: 0.5rem 1rem;
      font-size: 1rem; 
      transition: background-color 0.3s ease, transform 0.2s;
    }
    
    sl-button::part(base):hover {
      background-color: #f2f2f2; 
      transform: scale(1.05); 
    }
    
    }
  


  ///------home-banner--------
  .home-banner {
    background: url('../../static/images/home/home-bg-graphics.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 5rem auto 0;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    overflow: hidden;
  
    img {
      margin: -4rem 0 2rem 0;
      position: relative;
      z-index: 1;
    }
  
    h1 {
      color: #6D83F2;
      font-size: 2.5rem; // Adjust size to be responsive 
      text-align: left;
      z-index: 2; // Ensure it’s above any background elements
    }
  
    h2 {
      color: #F2DE96;
      font-size: 1.5rem; // Adjust size to be responsive /
      padding: 5px;
      margin: 0; // Remove external margins/
      text-align: center; // Center-align h2 text /
      z-index: 2; // Ensure it’s above any background elements /
    }
  
    .blurb-container {
        position: relative;
        display: center;
  }
}

  // animations home banner-------https://codepen.io/MarioDesigns/pen/woJgeo-----
  
  .cloud {
    animation: float 5s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
     
      transform: translateY(0px);
    }
    50% {
    
      transform: translateY(-20px);
    }
    100% {
     
      transform: translateY(0px);
    }
  }

  // ---------Responsive design-----------------

  @media (max-width: 768px) { // Tablets & smaller screens
   
  .home-banner {

    background-size: contain; /* Shrinks the SVG to fit */
    background-attachment: scroll; /* Fix scrolling issues on mobile */
   
    h1 {
      font-size: 2.5rem;
      margin-right: 7rem;
    }
   
    img{
     margin:-4rem 0 0rem 0;
    }
    
      
  }
  }


  @media (min-width: 768px) and (max-width: 991px) {
    .home-page {
      .home-banner {
        h1 {
          font-size: 2.5rem;
          margin-right: 10rem;
        }
      }
  
      .button-group {
        display: flex;
        justify-content: center; /* Centers the buttons horizontally */
        gap: 1rem; /* Optional: Adds space between buttons */
        margin: 2rem 0; /* Optional: Adjusts margin around the button group */
    
  
        sl-button::part(base) {
          font-size: 1rem; /* Increase text size */
          width: 100%; /* Full width */
        }
      }
    }
  }
  
  @media (max-width: 480px) {
    .home-page {
    .home-banner {
          background-size: 31rem;
          background-position: top center;
        h1 {
          font-size: 1.8rem;
          margin-right: 5rem;
        }
      }
    }  
  }
