@use 'vars' as *;

// Home page ----------------------------------------------------------------------------------
.home-page {
  background: var(--background-home);

  .home-banner {
    background: url('../../static/images/home/home-bg-graphics.svg');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 5rem auto 0;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    img {
      margin: -5rem 0 2rem 0;
      position: relative;
      z-index: 1;
    }

    h1 {
      margin-right: 10rem;
      color: #6D83F2;
      font-size: 2.5rem; // Adjust size to be responsive
      text-align: left;
      z-index: 2;
    }

    h2 {
      color: #F2DE96;
      font-size: 1.5rem; // Adjust size to be responsive
      padding: 5px;
      margin: 0;
      text-align: center;
      z-index: 2;
    }

    .blurb-container {
      position: relative;
      display: center;
    }
  }

  //bottom section of home page
  .secondary-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-page {
    flex-direction: column; // Stack buttons vertically
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    h3 {
      color: #ffffff;
      margin: 0 0 1rem 0;
      align-self: flex-start;
    }

    .button-group {
      display: flex;
      justify-content: space-between;
      margin: 2rem auto;
      gap: 1rem;
      width: 100%;
      flex-wrap: nowrap;
    }

    sl-button::part(base) {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--base-txt-color);
      background-color: #ffffff;
      border-radius: 12px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      padding: 1rem 3rem;
      font-size: 1rem;
      line-height: normal;
      height: auto;
      transition: background-color 0.3s ease, transform 0.2s;
    }

    sl-button::part(base):hover {
      background-color: #f2f2f2;
      transform: scale(1.05);
    }
  }

  // Animations for the cloud element
  .cloud {
    animation: float 5s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  // Responsive Design ----------------------------------------------------------------------------------

  @media (min-width: 768px) and (max-width: 991px) {
    .home-page {
      .home-banner {
        h1 {
          font-size: 2.5rem;
          margin-right: 10rem;
        }
      }

      .button-group {
        padding: 0 9rem;
        display: flex;
        justify-content: space-between;
        margin: 2rem auto;
        gap: 1rem;
        width: 100%;
        flex-wrap: nowrap;

        sl-button::part(base) {
          font-size: 1rem;
          padding: 1rem 2rem;
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .home-banner {
      background-size: contain;
      background-attachment: scroll;

      h1 {
        font-size: 2.5rem;
        margin-right: 7rem;
      }

      img {
        margin: -4rem 0 0rem 0;
      }
    }

    .nav-page {
      margin: 0 2rem;

      .button-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 6% auto;
        gap: 1rem;
        width: 100%;
      }

      sl-button {
        width: 100%;
      }

      sl-button::part(base) {
        font-size: 1rem !important;
        padding: 1rem 3rem !important;
        width: 100% !important;
        display: block !important;
        text-align: center !important;
      }
    }
  }

  @media (max-width: 480px) {
    .home-banner {
      background-size: 31rem;
      background-position: top center;

      h1 {
        font-size: 1.8rem;
        margin-right: 5rem;
      }
    }

    .nav-page {
      margin: 0 2rem;

      .button-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 6% auto;
        gap: 1rem;
        width: 100%;
      }

      sl-button {
        width: 100%;
      }

      sl-button::part(base) {
        font-size: 1rem;
        padding: 1rem 3rem;
        width: 100%;
        display: block;
        text-align: center;
      }
    }
  }
}
