@use 'vars' as *;

/// Inner pages
.inner-wrap{
.banner {
 
    height: auto; 
    position: relative; 
    color: white;
    text-align: left;
    display: flex;
    justify-content: center;
    overflow: hidden;

  &.resources {
    background: var(--background-resources);
  }
  &.about {
    background: var(--background-about);
  }
  &.mindfulness {
    background: var(--background-mindfulness);
  }
  &.mental-health {
    background: var(--background-mental-health);
  }
 
}
  .banner-content {
    display: flex;
    justify-content: center;
   // align-items: center;
    z-index: 2; // Ensure content overlays the image
    padding-top: 6rem; // Adjust this to create space from the top 
   
    .banner-text {
      text-align: left;
    }
 }
    picture img {
      z-index: 1;
      bottom: 0;
    }

.nav-page {
  padding: 2rem;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center; 
  align-items: center; /* Center horizontally */
  height: auto; /* Adjust height based on content */
  text-align: center;

  h3{
    margin-bottom: 2rem;
  }

  .button-group {
    display: flex;
    justify-content: center; /* Centers the buttons horizontally */
    gap: 1rem; /* Optional: Adds space between buttons */
  }

/* Base button style */
sl-button::part(base) {
    width: 14rem;
    height: 4rem;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Smooth transition */
    padding: 0.5rem 1rem; /* Optional: Adjust padding for better button size */
    font-size: 1rem; /* Optional: Adjust font size */
}

/* Hover Effect */
sl-button:hover::part(base) {
    border: none; /* Remove border */ 
    color: #333; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow intensifies */
    transform: scale(1.05); /* Slight zoom effect */
}

/* Active Effect (when button is pressed) */
sl-button:active::part(base) {
    color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); /* Smaller shadow for pressed effect */
    transform: scale(0.98); /* Slight shrink effect */

}

.meditation-page::part(base),
.stress-page::part(base),
.suppor-page::part(base) {
    background-color: var(--web-color-lilch);
    color: white;
}

.anxiety-page::part(base),
.breathing-page::part(base),
.services-page::part(base) {
    background-color: var(--web-color-blue);
    color: white;
}

.depression-page::part(base),
.motivation-page::part(base),
.guides-page::part(base) {
    background-color: var(--web-color-green);
    color: white;
}
}

// Mental-health----------------------------------------------------------------------------------
.mental-health{
.grphics {
  background: url('../../static/images/mental-health/mental-health-bg-graphics.svg') no-repeat center center;
  background-size: 100%;
  width: 90%;
}
}

//// mindfulness---------------------------------------------------------------------------------

.mindfulness {
  .banner{ 
    padding-top: 3rem;
  }
  .banner-content {
    background: url('../../static/images/mindfulness/mindfulness-bg-graphics.svg') no-repeat center center;
    background-size: contain;
   
    }
 }

// Resources----------------------------------------------------------------------------------

.resources {
  .banner-content {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: top;
    text-align: left;
    
  }

  .banner-text {
    text-align: left;
    padding: 0 0 0 2rem;
    max-width: 30%;
    h1{
      font-size: 1.5rem;
    }
    h2{
      font-size: 0.8rem;
    }
  }

  picture {
    background: url('../../static/images/resources/resources-bg-graphics.svg') no-repeat center center;
    background-size: 14%;
    background-position-y: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      height: auto;
      display: block;
    }
  }
}

// Responsive adjustments
@media (min-width: 1024px) {
  .resources {
    .text-banner {
      padding: 0px 0rem 2rem 2rem;

      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1rem;
      }
    }
  }
}


@media (max-width: 768px) and (min-width: 500px) {
  .resources {
    .banner-content {
    text-align: left;
    background-size: 20%;
  }
 text-banner{
  padding: 0px 0rem 2rem 2rem;
  h1{
    font-size: 1.5rem;
   }
    h2 {
      font-size: 0.8rem;
   }
 }
  picture {
    width: 70%;
    background-size: 19%;
    background-position-y: 1rem;
    img{
      width: 90%;
    }
  }
}
}
@media (max-width: 500px) {
    .resources {
    .banner-content {
      display: flex;
      flex-direction: column; // Stack text and image
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 4rem;        
      background-size: cover;
    }

    .banner-text {
      position: relative;
      max-width: 100%;
      text-align: center;
      padding: 0 1rem; // Prevents text from touching the screen edges
      display: flex;
      flex-direction: column;
      align-items: top;

    }

    picture {
      width: 100%; // Ensures image fills the width properly
      display: flex;
      justify-content: center;
    }

    img {
      width: 100%;
      height: auto;
    }
  }


}


//about----------------------------------------------------------------------------------
.about{
.grphics {
    background: url('../../static/images/about/about-bg-graphics.svg') no-repeat center center;
    background-size: 100%;
    width: 100%;
    margin-top: 3rem;
  }
  
}
//responsive banner ----------------
 //small screen 400px and below
 @media (max-width: 400px) {

  .banner-content {
    display: flex;
    flex-direction: column; // Stack text and image
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 4rem;        
    background-size: cover;
  }

  .banner-text {
    position: relative;
    max-width: 100%;
    text-align: left;
    padding: 0 1rem; // Prevents text from touching the screen edges
    display: flex;
    flex-direction: column;
    align-items: top;

  }

  picture {
    width: 100%; // Ensures image fills the width properly
    display: flex;
    justify-content: center;
  }
  
    img {
      width: 70%;
      height: auto;
  }
  .banner-text {
    h1{
     font-size: 1.2rem;
    }
     h2 {
       font-size: 0.8rem;
    }
   }

}
}
