@use "sass:color";

// Vars

:root {
  // base
  // txt colour = Licorice from https://coolors.co
  --base-txt-color: #383838;
  --heading-color: #ffffff;
  --base-font-family: 'Work Sans', sans-serif;
  --body-bg: #ffffff;


  //banners background colors 
  --backround-left-log: #05A3CD;
  --background-profile: linear-gradient(to bottom,#00B6E7,#8de6ff, #009BC5);
  --background-favourites: linear-gradient(to bottom, #0ba0c9, #5fc7e3 ,#48b8d7);
  --background-home: radial-gradient(circle, #d0eff9,  #0ba0c9,#0ba0c9 );
  --background-about: linear-gradient(to bottom,#78BE64, #A3DD92, #78BE64 );
  --background-mental-health: linear-gradient(to bottom,#6686E3, #83A4FD, #384A7D );
  --background-mindfulness:linear-gradient(to bottom,#30AAF5, #5EBBF4, #0071B7 );
  --background-resources:linear-gradient(to bottom,#B26DCB, #C992DD, #6C4F77 );
  --background-extra-page: linear-gradient(to bottom,#0ba0c9, rgb(255, 255, 255) );



  // -colors  
  // Peach from https://coolors.co/
  $brand-color: #0BB7C0;
  --brand-color: #{$brand-color};
  --link-color: --brand-color;
   --web-color-yellow: #F3C728;
   --web-color-purple: #6587E3;
   --web-color-blue: #6587E3;
   --web-color-lilch: #C992DD;
   --web-color-green: #8ED479;
  



  // app header
  // Licorice from https://coolors.co/
  --app-header-height: 60px;
  --app-header-txt-color: #2F1E1F;
  --app-header-title-font-size: 1.6em;

  --public-header-height: 60px;
  --public-header-txt-color: #2F1E1F;
  --public-title-font-size: 1.6em;


 
  // shoelace tokens
  // full list here:
  // https://github.com/shoelace-style/shoelace/blob/current/src/styles/base.scss
  // Primary colour = Aero from https://coolors.co/
  --sl-color-primary-50: #085966;
  --sl-color-primary-100: #{color.adjust($brand-color, $lightness: 40%)};
  --sl-color-primary-200: #{color.adjust($brand-color, $lightness: 30%)};
  --sl-color-primary-300: #{color.adjust($brand-color, $lightness: 20%)};
  --sl-color-primary-400: #{color.adjust($brand-color, $lightness: 10%)};
  --sl-color-primary-500: #{$brand-color};
  --sl-color-primary-600: #{color.adjust($brand-color, $lightness: -10%)};
  --sl-color-primary-700: #{color.adjust($brand-color, $lightness: -20%)};
  --sl-color-primary-800: #{color.adjust($brand-color, $lightness: -30%)};
  --sl-color-primary-900: #{color.adjust($brand-color, $lightness: -40%)};
  --sl-focus-ring-color-primary: #{rgba($brand-color, 0.1)};
}
