@use "sass:color";

// Vars

:root {
  // base
  // txt colour = Licorice from https://coolors.co
  --base-txt-color: #2F1E1F;
  --heading-color: #2F1E1F;
  --base-font-family: 'Work Sans', sans-serif;
  --body-bg: #00B9DF;
  

  // colors  
  // Peach from https://coolors.co/
  $brand-color: #00B9DF;
  --brand-color: #{$brand-color};
  --link-color: --brand-color;
  
  // app header
  // Licorice from https://coolors.co/
  --app-header-height: 60px;
  --app-header-txt-color: #2F1E1F;
  --app-header-title-font-size: 1.6em;

  --public-header-height: 60px;
  --public-header-txt-color: #2F1E1F;
  --public-title-font-size: 1.6em;


 
  // shoelace tokens
  // full list here:
  // https://github.com/shoelace-style/shoelace/blob/current/src/styles/base.scss
  // Primary colour = Aero from https://coolors.co/
  --sl-color-primary-50: #00B9DF;
  --sl-color-primary-100: #{lighten($brand-color, 40%)};
  --sl-color-primary-200: #{lighten($brand-color, 30%)};
  --sl-color-primary-300: #{lighten($brand-color, 20%)};
  --sl-color-primary-400: #{lighten($brand-color, 10%)};
  --sl-color-primary-500: #{$brand-color};
  --sl-color-primary-600: #{darken($brand-color, 10%)};
  --sl-color-primary-700: #{darken($brand-color, 20%)};
  --sl-color-primary-800: #{darken($brand-color, 30%)};
  --sl-color-primary-900: #{darken($brand-color, 40%)};
  --sl-focus-ring-color-primary: #{rgba($brand-color, 0.1)};
}