@use 'vars';
@use 'base';
@use 'expanded';
@use 'home-page';
@use 'inner-pages';
@use 'forms';
@use 'shoelace';
@use 'toast';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,500;1,100;1,200;1,500&display=swap');